.container {
  h2 {
    text-align: center;
  }

  h3 {
    position: absolute;
  }

  .drinksFilter {
    margin: auto;
    width: fit-content;

    span {
      padding: 0 10px;
    }

    input, label {
      cursor: pointer;
    }

    label {
      margin-left: 5px;
    }
  }
}