.container {
  h2, h4 {
    text-align: center;
  }

  img {
    cursor: pointer;
  }

  form {
    width: fit-content;
    margin: auto;

    input {
      outline: none;
    }
  }

  button {
    cursor: pointer;
  }
}